*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: grid;

}
img{
    background-color: transparent;
    justify-self: center;
}
h1{
    text-align: center;
    margin: 0;
    padding: 30px;
}